body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
.header {
   width: 100%;
   padding: 0 1.5rem;
   background-color: #007d9c;
   color: white;
   top: 0;
}
.header > nav {
   align-items: center;
   display: flex;
   height: 3.5rem;
   justify-content: space-between;
}
.header > nav > a {
   text-decoration: none;
   color: white;
}
.content {
   width: 100%;
}
.content > div {
   margin: 0.1rem auto 1.875rem auto;
   max-width: 55rem;
}
